{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Akordion Lucu</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
<div id="accordion">
    {% for thing in accordion.values %}
    <div>
        <div class="nama">{{ thing.nama }}</div>
        <img class="panah" onclick="move(this, 'up')" src="{% static 'main/img/arrow-up.png' %}">
        <img class="panah" onclick="move(this, 'down')" src="{% static 'main/img/arrow-down.png' %}">
    </div>
    <div>
        <ul>
            {% for each in thing.daftar %}
            <li>{{ each }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock content %}
