#accordion {
    margin: auto;
    background-color: #FFFFFF;
}

#accordion > * {
    border: 1px solid #000000;
}

.ui-accordion-header {
    background-color: #F4F4F4;
    padding: 0.5em;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nama {
    font-size: x-large;
    flex-grow: 1;
    flex-basis: 0;
}

.panah {
    margin-left: 0.5em;
    background-color: #D0D0D0;
    object-fit: contain;
}